.btn, input, .alert .close {
	box-shadow: 2px 2px 0px #099 !important;
}
canvas:not(#canvas) {
	box-shadow: 3px 3px 0px #099 !important;
}
hr {
	border-bottom: 4px solid #fff;
}

/* accent tabs */
.nav-tabs {
	border-bottom: 2px solid #099 !important;
}
.nav-tabs .nav-item .nav-link {
	border: 2px solid #099;
}
.nav-tabs .nav-item .nav-link:hover {
	border: 2px solid #fff;
}
.nav-tabs .nav-item .nav-link.active {
		/*border-bottom: 2px solid #099 !important;*/
}
.nav-item {
	margin-left: 6px;
	/*border-right: 3px solid #099 !important;*/
}
