hr {
	background-image: radial-gradient(circle at 10px -5px, transparent 12px, #fff 13px);
}
/* note: not including .alert currently */
#main-box, #right-col, .nav-link, .nav-tabs {
	border-color: #fff !important;
}
hr {
	border-bottom: 4px solid #099 !important;
}