body, html {
	background-color: #333 !important;
	color: #fff !important;
}

hr {
	border-color: #fff;
}

img, button, br {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
::-moz-selection {
	background: hsl(0, 0%, 90%) !important;
}
::selection {
	background: hsl(0, 0%, 90%) !important;
}

.nav-tabs .nav-item .nav-link {
	color: #fff;
}
.nav-tabs .nav-item .nav-link.active {
	color: #333;
}
.nav-tabs .nav-item .nav-link:hover {
	background-color: #fff;
	color: #333;
}

.btn {
	border: 2px solid #333;
}

/* snackbar */
#snackbar {
	visibility: hidden;
	padding: 20px;
	position: fixed;
	left: 50%;
	text-align: center;
	bottom: 40px;
	min-width: 250px;
	margin-left: -125px;
	border: 1px solid;
}
#snackbar.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 40px; opacity: 1;}
}
@keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 40px; opacity: 1;}
}
@-webkit-keyframes fadeout {
	from {bottom: 40px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
}
@keyframes fadeout {
	from {bottom: 40px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
}

@media (max-width: 768px) {

}