.lvl-shell-info {
	text-align: right;
}
.dot {
	display: inline-block !important;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid #099;
	cursor: pointer;
}
.dot:hover:not(.active) {
	border-color: #262673;
}
.dot.active {
	background-color: #099;
}
.full-modal .modal-dialog {
	margin: 0px !important;
	max-width: 99999px;
}
#personal-aquarium { /* canvas */
	width: 500px; /* update in js */
	height: 300px; /* update in js */


	/* https://developer.mozilla.org/en-US/docs/Games/Techniques/Crisp_pixel_art_look */
/*	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;*/
}
.fish-display {
	width: 64px;
}
.fish-display-section {
	border: 2px solid #099;
	box-shadow: 2px 2px 0px #262673;
}
.fish-display-section:hover {
	background-color: #099;
	cursor: pointer;
}
.favorite-btn.active:not(:hover) i.fas{
	color: #099;
}

#personal-wheel {
	border: none !important;
	box-shadow: none !important;	
}
